body {
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inner {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

/* header Css */
header {
  width: 100%;
}

.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 0;
  margin-bottom: 1rem;
}

.headerContainer-img {
  width: 200px;
}

.headerContainer-btn {
  display: flex;
  align-items: center;
}

.headerContainer-experi {
  margin-right: 3rem;
  cursor: pointer;
}

.headerContainer-experi:hover {
  opacity: 0.5;
}

.headerContainer-experi i {
  font-size: 1.3rem;
}

.headerContainer-experi span {
  font-size: 1.2rem;
}

.headerContainer-btn button {
  border-radius: 20px;
  padding: 0.7rem 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.headerContainer-btn button:hover {
  opacity: 0.8;
}

/* nav Css */
nav {
  width: 100%;
  margin-bottom: 3rem;
}

.navContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navContainer-region {
  width: 13%;
  border-radius: 10px;
  border: solid 1px #000;
  padding: 0.7rem 2.5rem 0.7rem 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.navContainer-region:hover {
  background-color: #000;
  color: #fff;
}

/* sceiont 1 Css */
section {
  width: 100%;
  margin-bottom: 7rem;
}

.sectionContainer1 {
  width: 100%;
  background-color: #eafaf4;
  height: 350px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0 3rem;
  border-radius: 12px;
}

.sectionContainer1-title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 60px;
  padding-top: 5rem;
  margin-right: 2rem;
}

.sectionContainer1 img {
  width: 450px;
}

/* section2 Css */
.sectionContainer2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionContainer2-info {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 80px;
  margin-bottom: 3rem;
}

.sectionContainer2-img {
  width: 100%;
  text-align: center;
}

.sectionContainer2-img img {
  width: 800px;
}

/* arrowBtn Css */
.arrowBtn {
  display: none;
  position: relative;
  top: 50px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

.arrowBtn-left {
  position: absolute;
  left: 2px;
}

.arrowBtn-right {
  position: absolute;
  right: 2px;
}

@media (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}

@media (max-width: 1250px) {
  .headerContainer {
    justify-content: space-between;
  }

  .sectionContainer1-title {
    font-size: 1.7rem;
  }

  .sectionContainer1 img {
    width: 400px;
  }
}

@media (max-width: 890px) {
  .sectionContainer1 {
    justify-content: space-between;
    padding: 0 1.5rem;
  }

  .sectionContainer1-title {
    font-size: 1.2rem;
  }

  .sectionContainer1 img {
    width: 350px;
    padding-top: 2rem;
  }

  .sectionContainer2-img img {
    width: 600px;
  }
}

@media (max-width: 700px) {
  .navContainer {
    overflow-x: none;
    position: relative;
  }

  .navContainer-region {
    width: 130px;
    flex-shrink: 0;
    margin: 0 1rem;
  }

  .sectionContainer1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .sectionContainer1-title {
    text-align: center;
    padding-top: 1.2rem;
  }

  .sectionContainer1 img {
    padding-bottom: 1.2rem;
  }

  .sectionContainer2-info {
    font-size: 1.5rem;
  }

  .sectionContainer2-img img {
    width: 400px;
  }

  .arrowBtn {
    display: block;
  }
}

@media (max-width: 470px) {
  .headerContainer {
    flex-direction: column;
    justify-content: center;
  }

  .headerContainer-img {
    margin-bottom: 1.2rem;
  }

  .sectionContainer2-info {
    font-size: 1.2rem;
  }

  .sectionContainer2-img img {
    width: 300px;
  }
}
